/* fonts */

@font-face {
  font-family: 'barlow';
  src: url('./fonts/barlow-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'barlow';
  src: url('./fonts/barlow-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* settings */
:root {
  --custom-font: 'barlow', sans-serif;
  --color-text: #000;
  --max-width: 1440px;
  --vr: 6px;
  --ggw: 20px;
  --header-height: 65px;
  --header-height-ss: 100px;
  --max-width: 1440px;

  /* colours */
  --color-a: #000;
  --color-b: #f5f111;
  --color-c: #b91717;
  --color-d: #ff9d00;
  --color-e: #de51e4;

  --color-error: #ff0000;

  --gray-a: #6d6c6c;
  
  --black-a: #272727;
}

/* tools */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* globals */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

 /* Disable iOS/WinMobile font size changes */
@media screen and (max-device-width: 480px) {

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 16px;
}

body.user-menu-in,
body.menu-in,
body.image-upload-in,
body.create-group-in {
  overflow: hidden;
}

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* elements */

/* loading spinner */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  border-top: var(--vr) solid rgba(255, 255, 255, 1);
  border-right: var(--vr) solid rgba(255, 255, 255, 1);
  border-bottom: var(--vr) solid rgba(255, 255, 255, 1);
  border-left: var(--vr) solid var(--color-d);
  display: block;
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;
  opacity: 0;
  transition: opacity 300ms ease;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  transition: opacity 250ms ease;
}

.loading .spinner {
  opacity: 1;
}

.loading .spinner-overlay {
  z-index: 2;
  opacity: 1;
}

/* forms */
/* Remove -webkit styles from text inputs */
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea {
  appearance: none;
  outline: none;
}

input[type='password'],
input[type='tel'],
input[type='email'],
input[type='text'] {
  background-color: transparent;
  border: none;
  color: var(--color-b);
  border-bottom: 1px solid currentColor;
  width: 100%;
  font-size: 16px;
  padding-bottom: var(--vr);
}

input[type='password']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='text']:focus {
  color: #fff;
}

label {
  display: inline-block;
  margin-bottom: var(--vr);
}

fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: var(--vr);
}


.file-input {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.file-input .file-input__input {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 150px;
  top: -50px;
  cursor: pointer;
}

.file-input .file-input__fake {
  display: flex;
  margin: 0;
  cursor: pointer;
  padding: calc(var(--vr) * 2) calc(var(--ggw) / 2);
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--color-d);
  transition: all 250ms ease-in-out;
}

.file-input:hover .file-input__fake,
.file-input:focus .file-input__fake {
  background-color: var(--color-b);
  border-color: var(--color-a);
}

.file-input .file-input__fake svg {
  fill: #fff;
  transition: all 250ms ease-in-out;
}

.file-input:hover .file-input__fake svg,
.file-input:focus .file-input__fake svg {
  fill: var(--color-a);
}

.validation-message {
  height: 0;
  visibility: hidden;
  color: var(--color-error);
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.validation-message svg {
  fill: currentColor;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.validation-errors .validation-message {
  height: auto;
  visibility: visible;
}


/* btns */
.btn {
  background: none;
	border: none;
	margin: 0;
	padding: 0;
	min-height: 0;
	min-width: 0;
  text-transform: none;
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.btn:focus {
  outline: none;
}

.btn::before {
  content: '';
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  right: 50%;
  height: 2px;
  background-color: currentColor;
  transition: all 250ms ease-in-out;
}

.btn:hover::before,
.btn:focus::before {
  left: 0;
  right: 0;
}

.btn--disabled {
  color: var(--gray-a);
  opacity: 0.65;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

/* btn with icon */
.btn.btn--icon {
  padding-right: 50px;
}

.btn--icon svg {
  fill: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

/* BTN Style A */
.btn--style-a {
  padding: calc(var(--vr) * 2) calc(var(--ggw) / 2);
  border: 2px solid #fff;
  color: var(--color-a);
  background-color: var(--color-d);
  margin-bottom: calc(var(--vr) * 2);
  transition: color 250ms ease-in-out;
}

.btn--style-a span {
  z-index: 1;
  position: relative;
}

.btn--style-a::before {
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  bottom: 0;
  height: auto;
  color: var(--color-a);
}

.btn--style-a:hover::before,
.btn--style-a:focus::before {
  top: 0;
}

.btn--style-a:hover,
.btn--style-a:focus {
  color: #fff;
}

/* BTN Style B */
.btn--style-b {
  padding: calc(var(--vr) * 2) calc(var(--ggw) / 2);
  color: var(--color-a);
  border: 2px solid currentColor;
  background-color: #fff;
  margin-bottom: calc(var(--vr) * 2);
  transition: color 250ms ease-in-out;
}

.btn--style-b span {
  z-index: 1;
  position: relative;
}


.btn--style-b::before {
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  bottom: 0;
  height: auto;
  color: var(--color-a);
}


.btn--style-b:hover::before,
.btn--style-b:focus::before {
  top: 0;
}

.btn--style-b:hover,
.btn--style-b:focus {
  color: #fff;
}

/* BTN Style C */
.btn--style-c {
  padding: calc(var(--vr) * 2) calc(var(--ggw) / 2);
  border: 2px solid currentColor;
  color: #fff;
  background-color: var(--color-e);
  margin-bottom: calc(var(--vr) * 2);
  transition: color 250ms ease-in-out;
}

.btn--style-c span {
  z-index: 1;
  position: relative;
}

.btn--style-c::before {
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  bottom: 0;
  height: auto;
  color: #710875;
}

.btn--style-c:hover::before,
.btn--style-c:focus::before {
  top: 0;
}

.btn--style-c:hover,
.btn--style-c:focus {
  color: #fff;
}



/* type */
h1,
h2,
h3 {
  font-family: var(--custom-font);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: calc(var(--vr) * 2);
}

h1 span,
h2 span,
h3 span {
  font-weight: 900;
}

p {
  margin-top: 0;
  margin-bottom: calc(var(--vr) * 2);
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: calc(var(--vr) * 6);
}

.title a {
  display: block;
}

.title-style-a {
  font-family: var(--custom-font);
  font-size: 24px;
  font-weight: 900;
  text-decoration: underline;
}

.helper {
  font-size: 14px;
  margin: var(--vr) 0;
}

/* objects */
.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--ggw);
}

/* Components */

/* header */
.header {
  /* border-bottom: 1px solid var(--color-a); */
  background-color: var(--black-a);
}

.header__inner {
  max-width: var(--max-width);
  width: 100%;
  padding: calc(var(--vr)*2) var(--ggw);
  margin: 0 auto;
}

.header__utils {
  display: flex;
  overflow: hidden;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--ggw);
}

.header__title .title {
  color: var(--color-d);
  margin-top: 9px;
}

.header__title .title span {
  color: var(--color-b);
}

@media (max-width: 639px) {

  .header__inner {
    height: var(--header-height-ss);
  }

  .header__menu {
    float: left;
    margin-top: 4px;
  }

  .header__title {
    float: right;
  }

  .header__utils {
    float: left;
    width: 100%;
    justify-content: space-between;
    height: 40px;
  }

  .header__utils-item {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 640px) {

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: var(--header-height);
  }

  .header__utils {
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  .header__utils-item {
    margin-left: 10px;
  }
  
  .header__utils-item .btn {
    font-size: 14px;
  }

  .header__title {
    margin: 0 var(--ggw);
  }
}

@media (min-width: 1200px) {

  .header__item {
    flex: 1;
  }

  .header__title {
    margin: 0;
  }

  .header__utils-item {
    margin-left: var(--ggw);
  }

  .header__utils-item .btn {
    font-size: 16px;
  }
}

/* menu-btn */
.menu-btn {
  width: 40px;
  height: 25px;
  color: #fff;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn:focus .menu-btn__line,
.menu-btn:hover .menu-btn__line {
  background-color: var(--color-d);
}

.menu-btn::before {
  display: none;
}

.menu-btn__line {
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  background-color: currentColor;
  transition: all 250ms ease-in-out;
  transform-origin: left center;
}

.menu-btn__line:nth-child(1) {
  top: 0;
}

.menu-btn__line:nth-child(2) {
  top: 10px;
}

.menu-btn__line:nth-child(3) {
  top: 20px;
}

.menu-in .menu-btn__line:nth-child(1) {
  transform: rotate(45deg);
  left: 10px;
}

.menu-in .menu-btn__line:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.menu-in .menu-btn__line:nth-child(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 10px;
}

/* login items */
.login-actions {
  position: relative;
  flex: 1;
}

.logout-btn,
.login-register-btn {
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  transform: translateY(101%);
  opacity: 0;
  transition: transform 250ms, opacity 200ms ease-in-out;
}

.logout-btn .username {
  display: block;
  opacity: 0.5;
  font-size: 12px;
}

.logged-in .logout-btn {
  transform: translateY(-50%);
  opacity: 1;
}

.login-register-btn {
  transform: translateY(-50%);
  opacity: 1;
}

.logged-in .login-register-btn {
  transform: translateY(-101%);
  opacity: 0;
}

@media (min-width: 640px) {

  .login-actions .username {
    display: inline-block;
    font-size: 14px;
  }
  
  .login-register-btn,
  .logout-btn {
    left: auto;
    right: 0;
  }
}

.group-create-btn {
  color: #fff;
}

/* menu */
.menu {
  position: fixed;
  color: var(--color-b);
  background-color: var(--black-a);
  top: var(--header-height-ss);
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-101%);
  transition: transform 300ms ease-in-out;
  z-index: 9;
  overflow: auto;
}

@media (min-width: 640px) {

  .menu {
    right: 80vw;
    top: var(--header-height);
    min-width: 450px;
  }
}

.menu__inner {
  padding: calc(var(--vr) * 2) var(--ggw);
}

.menu-in .menu {
  transform: none;
}

.menu__title {
  text-decoration: underline;
  font-weight: 900;
}

.menu__list {
  margin: var(--vr) 0;
  padding-left: var(--ggw);
}

.menu__link {
  display: block;
  position: relative;
  padding: calc(var(--vr) * 2);
}

.menu__link::before {
  content: '\27AD';
  position: absolute;
  top: 0;
  left: calc(var(--ggw) * -1);
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 250ms, opacity 200ms ease-in-out;
  font-size: 32px;
  color: var(--color-d);
}

.menu__link:hover::before {
  opacity: 1;
  transform: none;
}

.groups-listing {
  margin-top: calc(var(--vr) * 5);
}

/* User Menu */

.user-menu {
  position: fixed;
  top: var(--header-height-ss);
  bottom: 0;
  right: 0;
  width: 100%;
  transform: translateX(101%);
  transition: transform 250ms ease-in-out;
  color: var(--color-b);
  background-color: var(--black-a);
  right: 0;
  z-index: 9;
  overflow: auto;
  padding: calc(var(--vr) * 2) var(--ggw);
}

.user-menu__inner {
  position: relative;
}

.user-menu .spinner-overlay {
  top: calc((var(--vr) * 2) * -1);
  bottom: calc((var(--vr) * 2) * -1);
  left: calc(var(--ggw) * -1);
  right: calc(var(--ggw) * -1);
}

@media (min-width: 640px) {
  .user-menu {
    width: 450px;
    top: var(--header-height);
  }
}


.user-menu-in .user-menu {
  transform: none;
}

/* login */
.login {
  margin-bottom: calc(var(--vr) * 4);
}

/* create group */
.create-group {
  position: fixed;
  left: 50%;
  overflow: auto;
  width: 80vw;
  bottom: 50px;
  top: 120px;
  color: var(--color-b);
  background-color: var(--black-a);
  padding: calc(var(--vr) * 2) var(--ggw);
  z-index: -1;
  opacity: 0;
  transform: translateX(-50%) translateY(20px);
  transition: transform 250ms, opacity 200ms ease-in-out;
}

@media (max-width: 639px) {
  .create-group {
    top: var(--header-height-ss);
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    transform: none;
  }
}

.create-group-in .create-group {
  z-index: 2;
}

.create-group-show .create-group {
  opacity: 1;
}

@media (min-width: 640px) {
  .create-group-show .create-group {
    transform: translateX(-50%);
  }
}

.create-group__close-btn {
  position: absolute;
  display: flex;
  right: calc(var(--ggw) / 2);
  top: var(--vr);
  color: #fff;
  transition: transform 250ms ease-in-out;
}

.create-group__close-btn::before {
  display: none;
}

.create-group__close-btn svg {
  fill: currentColor;
}

.create-group__close-btn:hover,
.create-group__close-btn:focus {
  transform: rotate(45deg);
}

.create-group__close-btn:hover svg,
.create-group__close-btn:focus svg {
  fill: var(--color-d);
}

.create-group__result {
  height: 0;
  overflow: hidden;
  margin-top: calc(var(--vr) * 3);
}

.create-group__result p {
  margin-bottom: var(--vr);
}

.group-created .create-group__result {
  height: auto;
}

/* input.create-group__link-input {
  color: var(--color-e);
  margin-bottom: calc(var(--vr) * 2);
} */

.create-group__link {
  color: var(--color-e);
  margin-right: var(--ggw);
}

.create-group__link:hover {
  text-decoration: underline;
}

/* share link */

.share-links {
  margin-top: calc(var(--vr) * 2);
}

.share-links p {
  margin-bottom: var(--vr);
}

.share-group-link {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}

.share-group-link:hover,
.share-group-link:focus {
  color: var(--color-e);
}

.share-group-link svg {
  width: 32px;
  height: 32px;
  fill: currentColor;
  transition: all 250ms ease-in-out;
}

[data-share-platform="facebook"],
[data-share-platform="whatsapp"] {
  display: none;
}

.android [data-share-platform="facebook"],
.ios [data-share-platform="facebook"],
.android [data-share-platform="whatsapp"],
.ios [data-share-platform="whatsapp"] {
  display: inline-block;
}


/* group */
.group {
  height: 0;
  overflow: hidden;
}

.group.group--in {
  height: auto;
}

.join-group {
  position: relative;
  height: 0;
  overflow: hidden;
}

.logged-in .join-group {
  padding: calc(var(--vr) * 4) 0;
  height: auto;
}


/* create group */
.image-upload {
  position: fixed;
  left: 50%;
  overflow: auto;
  width: 80vw;
  bottom: 50px;
  top: 120px;
  color: var(--color-b);
  background-color: var(--black-a);
  padding: calc(var(--vr) * 2) var(--ggw);
  z-index: -1;
  opacity: 0;
  transform: translateX(-50%) translateY(20px);
  transition: transform 250ms, opacity 200ms ease-in-out;
}

@media (max-width: 639px) {
  .image-upload {
    top: var(--header-height-ss);
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    transform: none;
  }
}

.image-upload-in .image-upload {
  z-index: 2;
}

.image-upload-show .image-upload {
  opacity: 1;
}

@media (min-width: 640px) {
  .image-upload-show .image-upload {
    transform: translateX(-50%);
  }
}

.image-upload__close-btn {
  position: absolute;
  display: flex;
  right: calc(var(--ggw) / 2);
  top: var(--vr);
  color: #fff;
  transition: transform 250ms ease-in-out;
}

.image-upload__close-btn::before {
  display: none;
}

.image-upload__close-btn svg {
  fill: currentColor;
}

.image-upload__close-btn:hover,
.image-upload__close-btn:focus {
  transform: rotate(45deg);
}

.image-upload__close-btn:hover svg,
.image-upload__close-btn:focus svg {
  fill: var(--color-d);
}

.image-upload__progress {
  display: flex;
  justify-content: space-between;
}

.image-upload__progress-bar {
  display: block;
  flex: 1;
  margin-right: var(--ggw);
}

.image-upload__progress-num {
  display: block;
}

/* image grid */
.image-grid__images {
  display: block;
  width: 100%;
}

@media (min-width: 600px) {
  .image-grid__images {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
  }
}

@media (min-width: 760px) {
  .image-grid__images {
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
  }
}

@media (min-width: 1000px) {
  .image-grid__images {
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1.25%;
  }
}

.image-grid__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: var(--vr);
  /* height: 200px; */
  background-color: var(--color-d);
  padding: var(--vr) calc(var(--ggw) / 2);
}

.image-grid__figure img {
  /* object-fit: contain;
  height: 100%;
  width: 100%; */
}

.image-grid__figure svg {
  fill: #fff;
  height: 100%;
  width: 100%;
}

.image-grid__figure .image-grid__figure-target {
  height: 0;
  width: 0;
  overflow: hidden;
}

.image-grid__figure.image-in .image-grid__figure-target {
  height: auto;
  width: 100%;
}

.image-grid__figure.image-in svg {
  display: none;
}